$red: #cd1719;
$redHover: rgb(245, 2, 6);
$black: #3b3b3b;

%font-famali-300 {
  font-family: 'MuseoSansCyrl-300';
  font-weight: 300;
}

%font-famali-500 {
  font-family: 'MuseoSansCyrl-500';
  font-weight: 500;
}

%font-famali-700 {
  font-family: 'MuseoSansCyrl-700';
  font-weight: 700;
}

%font-famali-900 {
  font-family: 'MuseoSansCyrl-900';
  font-weight: 900;
}